# =========================
# Backend
# =========================
BACKEND_PORT=8081
APP_PROFILE=dev
DDL_AUTO=update

# =========================
# PostgreSQL (Local / Docker)
# =========================
POSTGRES_DB=realtimeordertrackerdb
POSTGRES_USER=[your_username]
POSTGRES_PASSWORD=[user_password]
POSTGRES_PORT=5432

# =========================
# Kafka
# =========================
KAFKA_PORT=9092
KAFKA_UI_PORT=8080
KAFKA_CLUSTER_ID=order-tracker-cluster-001
KAFKA_TOPIC=order-events
KAFKA_PARTITIONS=3
KAFKA_CLUSTER_NAME=local