# =========================
# Backend
# =========================
BACKEND_PORT=8081
APP_PROFILE=dev
DDL_AUTO=update

# =========================
# PostgreSQL (Local / Docker)
# =========================
POSTGRES_DB=realtimeordertrackerdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# =========================
# Kafka
# =========================
KAFKA_PORT=9092
KAFKA_UI_PORT=8080
KAFKA_CLUSTER_ID=order-tracker-cluster-001
KAFKA_TOPIC=order-events
KAFKA_PARTITIONS=3
KAFKA_CLUSTER_NAME=local

# =========================
# Production Override (External DB)
# =========================
# Jika pakai DB di luar Docker (RDS, Cloud SQL, dll)
DB_URL=
DB_USERNAME=
DB_PASSWORD=